nav>ul>li{ color: white;
    list-style-type: none;
display: inline;
}
ul>li{color: white;
    background-color: black;
    padding-left:90%px;
    width: 100%;
}

nav{color: white;
    background-color: black;
float: right;
font-family: 'Francois One', sans-serif;
font-size: 30px;
width: 100%;
margin-top: 0%;
margin-left: 0%;
margin-right: 0%;

}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlPNgpl8wqze0jSr6wGMMwUUOtrp7-0rWNZaymXkCrNvfR7n3c);
    background-repeat: no-repeat;
    background-size: cover;
    
}

p{
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}
ol>li{
    font-size: 30px;
}